<div class="col-md-4" id="comment-feed">
    <h2 class="text-danger">Most Recent Comments</h2>
    {% for comment in rComments %}
    <div class="comment">
        <p><i>{{ comment['text']}} </i></p>
        <p>By <a href="{{ path("user", {"id" : comment['id']}) }}"> {{ comment['username'] }} </a> in <a href="{{ path('post', { "idp" : comment['postId']}) }}">{{ comment['name'] }}</a></p>
    </div>
    {% endfor %}
</div>