{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Hello and welcome to my blog</h1>
    <div class="row">
        <section id="recent-posts" class="col-md-8">
            <h2 class="text-center"> Recent Posts: </h2>

            {% for row in query %}

                <div class="post col-md-12" id="post-id-n" >
                    <div class="post--top-row row">
                        <a href="{{ path("post", {"idp" : row['idp']}) }}">
                            <h3 class="text-left">{{ row['name'] }}</h3>
                        </a>
                    </div>
                    <div class="post--bottom-row row">
                        <p>{{ row['text'] }}...</p>
                        <p class="text-primary">{{ row['data'] }}</p>
                        <p>By: <a href="{{ path('user', {'id' : row['authorId']}) }}">{{ row['author'] }}</a></p>
                    </div>
                </div>
            {% endfor %}
            <div class="page-control">
                <h1>
                {% if page > 1 %}
                    <a href="{{ path('homepage', {'page' : (page - 1)}) }}"><button class="btn btn-danger">Previous Page</button></a>
                {% endif %}
                <a href="{{ path('homepage', {'page' : (page + 1)}) }}"><button class="btn btn-primary">Next Page</button></a>
                </h1>
            </div>
        </section>
        {{ render(controller(
        'AppBundle:Default:recentComments'
        )) }}

    </div>

{% endblock %}
