{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="text-primary text-center">
        This is a settings panel for {{ app.user.username }}
    </h2>
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}