{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-primary">User Information:</h1>
        <ul>
            <p><h3>Name: {{ user[0].getUsername() }}</h3></p>
            <p><h3>Email: {{ user[0].getEmail() }}</h3></p>
            <p><h3>Joined on: {{ user[0].getLastLogin()|date("d/m/Y") }}</h3></p>
            <p><h3>Last login: {{ user[0].getJoinDate()|date("d/m/Y") }}</h3></p>
        </ul>
        <p><h2 class="text-primary">Post by user:</h2></p>

        {% for row in posts %}

            <div class="post col-md-12" id="post-id-n" >
                {% if app.user %}
                    {% if id == app.user.id %}
                        <div class="col-md-1 text-center">
                            <p><a href="{{ path("edit", {"id" : row['idp']}) }}">Edit</a></p>
                            <p><a class="text-danger"href="{{ path("delete", {"id" : row['idp']}) }}">Delete</a></p>
                        </div>
                    {% endif %}
                {% endif %}
                    <div class="col-md-11">
                        <a href="{{ path("post", {"idp" : row['idp']}) }}">
                            <h3 class="text-danger text-left">{{ row['name'] }}</h3>
                        </a>
                        <p>{{ row['text'] }}...</p>
                        <p class="text-primary">{{ row['data'] }}</p>
                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}