{% extends 'base.html.twig' %}
{% block body %}
  <h1> Search results for  "{{ value }}"</h1>

    {% for row in query %}

      <div class="post col-md-12" id="post-id-n" >
        <div class="post--top-row row">
          <a href="{{ path("post", {"idp" : row['idp']}) }}">
            <h3 class="text-left">{{ row['name'] }}</h3>
          </a>
        </div>
        <div class="post--bottom-row row">
          <p>{{ row['text'] }}...</p>
          <p class="text-primary">{{ row['data'] }}</p>
          <p>Autor: {{ row['author'] }}</p>
        </div>
      </div>
    {% endfor %}
{% endblock %}