{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center text-primary">Hello and welcome to my blog</h1>
    <div class="row">
        <section id="single-post" class="col-md-8">
            <h2 class="text-primary"> {{ query[0]['name']}}</h2>
            <p>By: <a href="{{ path('user', {'id' : query[0]['ida']}) }}"> {{ query[0]['author'] }}</a></p>
            <p>On: {{ query[0]['data']}}</p>
            <section class="single-post-content">
                <p>
                    {{ query[0]['text']|nl2br}}
                </p>
            </section>
            <section id="single-post-comments" class="col-md-12 row">
                {% if app.user %}
                <p><h4>Add Your Comment:</h4></p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                {% endif %}
                <h3 class="text-danger">Comments for post:</h3>
                {% for comment in comments %}
                    <div class="comment col-md-12">
                        <p><i>{{ comment['text']}} </i></p>
                        <p>By <a href="{{ path("user", {"id" : comment['id']}) }}"> {{ comment['username'] }} </a> on {{ comment['date']|date("d/m/Y") }}</p>
                    </div>
                {% endfor %}
                {% if comments is empty %}
                    <h4><i>No comments yet!</i></h4>
                {% endif %}
            </section>
        </section>

        {{ render(controller(
        'AppBundle:Default:recentComments'
        )) }}
    </div>

{% endblock %}
