{% extends 'base.html.twig' %}
{% block body %}
    {% if ida == app.user.id %}
        <h1 class="text-center">
            Editing info for <a href="{{ path('post', {'idp' : id}) }}"> {{ name }} </a>
        </h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% else %}
        <h1 class="text-center text-danger">You are not the author!</h1>
    {% endif %}
{% endblock %}