{% extends "base.html.twig" %}
{% block body %}
    {% if post[0]['ida'] == app.user.id %}
        <p><h1 class="text-center">Are you sure you want to delete post <a href="{{ path('post', {'idp' : post[0]['idp']}) }}">{{ post[0]['name'] }}</a>?</h1></p>
        {{ form_start(form) }}
        <p><h1>{{ form_widget(form.save, { 'attr': {'class': 'btn-danger btn-lg btn-block'} }) }}</h1></p>
        {{ form_end(form) }}
        <p class="text-center"><a href="{{ path('homepage') }}">Or actually I changed my mind</a></p>
    {% else %}
        <h1 class="text-danger text-center">You are not the author of this post</h1>
    {% endif %}
{% endblock %}